{% extends "luxmed/layout.html" %}

{% block title %}
Add Visit
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}





<section id="about">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h2>Add visit <icon style="color:#0066cc" class="fa fa-lg  fa-calendar"></icon> <icon style="color:#0066cc" class="fa fa-lg  fa-plus"></icon></h2>
              
              <form action="/AddVisit/" method="post">
                {% csrf_token %}
                {{ form |crispy }}
                <div class="form-group">
                    <input type="submit" class="btnSubmit" value="Submit" />
                </div>
            </form>

            </div>
          </div>
        </div>
      </section>

{% endblock %}