{% extends "luxmed/layout.html" %}

{% block title %}
Index
{% endblock %}

{% block content %}
{% load static %}

<header class="bg-primary text-white">
    <div class="container text-center">
      <h1>Welcome to LuxMed Bot</h1>
      <p class="lead">Never miss another visit at LuxMed.pl!</p>
       <div align="center" class="socialbtns">
            <ul>
            <li><a href="#" class="fa fa-lg fa-user-md shadow-pop-tr"></a></li>
            </ul>
          
        </div>

    </div>

  
  </header>

  
  <section id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>About LuxMed Bot <icon  style="color:#0066cc"   class="fa fa-lg fa-medkit"></icon></h2>
          <p class="lead">This is simple Web App that connects with LuxMed.pl portal and moniotors visits for you. Avaliable features are:</p>
          <ul>
            <li>Searching for New Visits every 1 minute</li>
            <li>Send instant notification via WhatsApp when new visit appears</li>
            <li>Look for visits with predifened time range by the user</li>
            <li>Notification when found visit disapears</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section id="services" class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>How does that work? <icon style="color:#0066cc"   class="fa fa-lg fa-gears"></icon></h2>
          <p class="lead">The application is based on Python Django framework, Celery task schedules, Postgress database and all of this is dockerized in to standalone containers.</p>
        </div>
        <img src={% static "Media/LuxMed-Bot-Graph-Docker.png" %} class="img-fluid" alt="Responsive image">
        <img src={% static "Media/LuxMed-Bot-Graph-Connections.png" %} class="img-fluid" alt="Responsive image">
      </div>
    </div>
  </section>
 
  
  <section id="technology" >
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Technologies used: <icon style="color:#0066cc"   class="fa fa-lg fa-laptop"></icon></h2>
          <p class="lead">Few examples of technologies used in this project...</p>
        </div>
        <br>
        <img src={% static "Media/pylogo.png" %} style="height: 100px">
        <img src={% static "Media/django.png" %} style="height: 100px">
        <img src={% static "Media/celery.jpeg" %} style="height: 100px">
        <img src={% static "Media/redis.png" %} style="height: 100px">
        <img src={% static "Media/twilio.png" %} style="height: 100px">
        <img src={% static "Media/whatsapp.png" %} style="height: 100px">
        <img src={% static "Media/bootstrap.png" %} style="height: 100px">
        <img src={% static "Media/docker.png" %} style="height: 100px">
      </div>
    </div>
  </section>


  <section id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Contact me <icon style="color:#0066cc" class="fa fa-lg fa-comment "></icon></h2>
          <p class="lead">Solution created by Mike Papinski.</p>
          <p class="lead">Mp.Papinski@gmail.com</p>
          
          <div align="center" class="socialbtns">
            <ul>
              <li><a href="https://pl-pl.facebook.com/le.papis" class="fa fa-lg fa-facebook"></a></li>
              <li><a href="https://github.com/MikePapinski" class="fa fa-lg fa-github"></a></li>
              <li><a href="https://pl.linkedin.com/in/michal-papinski-bb4509179" class="fa fa-lg fa-linkedin"></a></li>
              <li><a href="https://www.youtube.com/channel/UCl8p5FVdmBMiRLIqlSP-EmA" class="fa fa-lg fa-youtube"></a></li>
            </ul>
            </div>
          
        </div>
      </div>
    </div> 
  </section>

{% endblock %}